<!DOCTYPE html>
<html>
<head>
  <title>Auto</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<p>
	<%= link_to_unless_current "View Customers", :controller => "customers", :action => "index"%> | <%= link_to_unless_current "View Services", :controller => "services", :action => "index" %>
</p>
</body>
</html>
